@tailwind base;
@tailwind components;
@tailwind utilities;

.chatbox::-webkit-scrollbar {
    display: none;
}

.taskbox::-webkit-scrollbar {
    display: none;

}

.rightsec::-webkit-scrollbar {
    display: none;
}