@tailwind base;
@tailwind components;
@tailwind utilities;

.chatbox::-webkit-scrollbar {
    display: none;
}

.taskbox::-webkit-scrollbar {
    display: none;

}

.rightsec::-webkit-scrollbar {
    display: none;
}

.leftsb::-webkit-scrollbar {
    display: none;
}

/* body::-webkit-scrollbar {
    display: none;
} */